* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
/* Navbar css  */
/* .navbar {
  background-color: #009e00;
} */
.navbar {
  background-color: rgba(0, 158, 0, 0.89);
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.nav-item .nav-link {
  display: block;
  line-height: 36px;
  font-size: 1.2rem;
  font-weight: 700;
  transition: 0.15s;
  margin-left: 1.6rem;
}
.nav-item .nav-link:hover {
  transform: scale(1.2);
  color: #533e85 !important;
  transition: 0.5s ease;
}
.p-md-3 {
  padding: 0.4rem !important;
}
@media (max-width: 768px) {
  .nav-item .nav-link:hover {
    transform: scale(1);
    color: #533e85 !important;
  }
}
body{
  
    background-color: #533e85;

}


/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #533e85;
  min-height: 100vh;
} */
.cards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #533e85;
  min-height: 100vh;
  margin-top: 10px;
}
section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#da22ff, #9733ee);
  clip-path: circle(30% at right 70%);
}

section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#e55d87, #5fc3e4);
  clip-path: circle(20% at 10% 10%);
}

.contain {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 0;
}

.contain .card {
  position: relative;
  width:400px;
  height: 300px;
  background: rgba(255, 255, 255, 0.05);
  margin: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}

.contain .card .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
}


.contain .card .content .imgBx {
  position: relative;
  width: 350px;
  height: 250px;
  overflow: hidden;
}

.contain .card .content .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}
.contain .card .content:hover .imgBx img {
  opacity: 0;
}
.contain .card .content .contentBx {
  position: absolute;
  bottom: 40px;
  width: 100%;
  height: 35px;
  background-color: #fff;
  transition: 0.5s;
  overflow: hidden;
  border-radius: 30px;
  margin-top: 20px;
  z-index: 999;
}

.contain .card .content:hover .imgBx img {
  opacity: 0;
}
.contain .card .content:hover .contentBx {
  position: absolute;
  flex-direction: column;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
}

.contain .card .content .contentBx h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 800;

  font-size: 0.8rem;
  text-align: center;
  padding: 4px;

 
}
.contain .card .content .contentBx ul{
opacity: 0;
margin: 10px 0 0;
padding: 5px;
font-weight: bold;
line-height: 1.5em;
transition: 0.5s;
text-align: justify;
color: hsl(0,0%, 30%);
/* padding: 10px; */
}
.contain .card .content:hover .contentBx ul{
 opacity: 1;
}
/* footer */
.foot{
  margin-top: 2rem;
}
.sp {
  letter-spacing: 0.1rem;
  font-size: 1.4rem;
}
.ho p a:hover {
  cursor: pointer;
}
.ho p a i {
  font-size: 1.2rem;
}
.contact p i {
  font-size: 1.3rem;
}

.icon a:nth-child(1):hover {
  background-color: #4267b2;
  transition: 0.5s ease;
}

.icon a:nth-child(2):hover {
  background-color: #0a66c2;
  transition: 0.5s ease;
}

.icon a:nth-child(3):hover {
  background-color: #e4405f;
  transition: 0.5s ease;
}
.icon a:nth-child(4):hover {
  background-color: #07b81f;
  transition: 0.5s ease;
}
