* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}
/* Navbar css  */
/* .navbar {
  background-color: #009e00;
} */
.navbar {
  background-color: rgba(0, 158, 0, 0.89);
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.nav-item .nav-link {
  display: block;
  line-height: 36px;
  font-size: 1.2rem;
  font-weight: 700;
  transition: 0.15s;
  margin-left: 1.6rem;
}
.nav-item .nav-link:hover {
  transform: scale(1.2);
  color: #533e85 !important;
  transition: 0.5s ease;
}
.p-md-3 {
  padding: 0.4rem !important;
}
@media (max-width: 768px) {
  .nav-item .nav-link:hover {
    transform: scale(1);
    color: #533e85 !important;
  }
}

/* Home Css  */

.home {
  color: #fff;
  width: 100%;
  display: grid;
  place-items: center;
  margin-top: 2.2rem;
}
.ro {
  width: 80%;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  overflow-x: hidden;
  padding: 3rem 0;
  margin-top: 1.4rem;
}
.ro .imgWrapper {
  overflow: hidden;
}
.ro .imgWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.5s;
}
.ro .imgWrapper:hover img {
  transform: scale(1.25);
}
.ro .contentWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}
/* .ro .contentWrapper span.textWrapper{
  display: block;
  font-size: 20px;
  text-transform: capitalize;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
} */

.ro .contentWrapper h1 {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 20px;
  letter-spacing: 0.4rem;
}
.ro .contentWrapper p {
  font-size: 1rem;
  line-height: 25px;
}

@media (max-width: 991px) {
  .ro {
    grid-template-columns: 1fr;
    grid-gap: 50px;
  }
  .ro .contentWrapper {
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .ro .contentWrapper span.textWrapper {
    font-size: 18px;
  }
  .ro .contentWrapper h1 {
    font-size: 25px;
  }
  .ro .contentWrapper p {
    font-size: 15px;
    line-height: 22px;
  }
  .ro .contentWrapper a {
    font-size: 15px;
    padding: 10px 20px;
  }
}

/* Testimonial Css  */
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

.testi{
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}
.testimonials{
  padding: 100px 0;
}
.section-header{
  text-align: center;
  margin-bottom: 50px;
}
.section-header .title{
  font-size: 2rem ;
font-weight: 700;
text-transform: capitalize;
line-height: 1.2;
color: hsl(0,0%, 100%);
}
.section-header h5{
  font-size: 1.3rem ;
  font-weight: 600;
  color: hsl(0,0%, 100%);

}
.testomonials-item{
  background-color:hsl(0,0%, 100%) ;
  padding: 30px;
 border-radius: 30px;
}
.testomonials-item img{
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-right: 20px;
  vertical-align: middle;
}
.testomonials-item .info{
  display: flex;
  align-items: center;
}
.testomonials-item .info .name{
  font-size: 25px;
  text-transform: capitalize;
  font-weight: 600;
  color: hsl(0,0%, 0%);
  line-height: 1.2;
}
.testomonials-item .info .job{
  text-transform: capitalize;
  color: hsl(0,0%, 40%);

}
.testomonials-item p{
  margin-top: 20px;
  color: hsl(0,0%, 30%);
}

.testimonials .swiper-pagination-bullet{
  height: 12px;
  width: 12px;
  background-color: hsl(0,0%, 100%);
}
.testomonials-item p i{
  font-size: 2rem;
}


/* Team Css  */


.section-title{
	flex-basis: 100%;
	max-width: 100%;
	margin-bottom: 3rem;
}
.section-title h1{
	font-size: 2.6rem;
	text-align: center;
	margin:0;
	color: #ffffff;
	font-weight: 800;
}

.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.ca{
  border-radius: 25px;
  background-color: #FFF;
}

.card-content h2{
  margin:0;
	font-size: 1.5rem;
	font-weight: 800;

}
.card-content p{
  font-size: 1rem;
	font-weight: 600;

  margin-bottom: 8px;
}
.is{
  display: flex;
  align-items: center;
  justify-content: center;
}
.is a{
  background-color: #009688;
  border-radius: 50%;
  width: 1.9rem;
  height: 1.9rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.5rem;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}
.ico:nth-child(1):hover{
  background-color:#4267b2 ;
}
.ico:nth-child(2):hover{
  background-color:#e4405f ;
}
.ico:nth-child(3):hover{
  background-color:#0a66c2 ;
}

.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #28a745;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #28a745;
}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}
.card-image{
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}


.swiper-navBtn{
  color: #28a745;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #28a745;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 1rem;
}
.swiper-button-next{
  right: 0;

}
.swiper-button-prev{
  left: 0;
}



@media (max-width: 768px) {
  .ro {
    width: 90%;
  }
  .ro .contentWrapper h1 {
    font-size: 30px;
    padding-bottom: 20px;
  }
  .ro .contentWrapper p {
    line-height: 24px;
  }
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
    opacity: 0;
  }
  .section-title h1{
    font-size: 2rem;}
}
/* footer section  */
.sp {
  letter-spacing: 0.1rem;
  font-size: 1rem;
}
.ho p a:hover {
  cursor: pointer;
}
.ho p a i {
  font-size: 1.2rem;
}
.contact p i {
  font-size: 1.3rem;
}

.icon a:nth-child(1):hover {
  background-color: #4267b2;
  transition: 0.5s ease;
}

.icon a:nth-child(2):hover {
  background-color: #0a66c2;
  transition: 0.5s ease;
}

.icon a:nth-child(3):hover {
  background-color: #e4405f;
  transition: 0.5s ease;
}